<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml", xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <script src="https://vuejs.org/js/vue.js"></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <!--<script type="text/javascript" src="js/menu.js"></script>-->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <title>www.MandusPattys.se</title>
    <meta charset="utf-8"/>
    <div class="HeaderpicContainer">
        <img src="img/andralongHeader.jpg" alt="Header Andra long" title="Andralong" style="width:100%">
        <div class="Headertext"> Hello and welcome to Gôrgoa burgare </div>
    </div>
</head>
<body>
<main>
    <section >
        <h2>Här finns det burgare </h2>
    </section>
  <div class="BurgarePicWrapper" id ="myID">

          <div  v-for="burger in burgersVue" class="burger-item">
              {{burger.name}}
              <img v-bind:src = 'burger.burgImages'>
              <ul>
                  <li v-for="ingredient in burger.ingredients">{{ingredient}}</li>
              </ul>
              <ul>
                  <li v-if="burger.gluten">
                      Innehåller Gluten </li>
                  <li  v-if="burger.lacto">
                      Innehåller Laktos
                  </li>
              </ul>
          </div>
  </div>
    <div id="example-1">
        <button v-on:click="counter += 1">Add 1</button>
        <p>The but been clicked {{ counter }} times.
        </p>
    </div>

    <section class=informationsDel1>
        <h2>Delivery information</h2>
    </section>
    <section id="contact">
        <form>
            <p>
                <label for="name">Name</label><br>
                <input type="text" id="name" name="fn" required="required" placeholder="First and Last name ">
            </p>
            <p>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="em" required="required" placeholder="E-mail address">
            </p>
            <p>
                <label for="street">Street</label><br>
                <input type="text" id="street" name="sn" required="required" placeholder="Streetname">
            </p>
            <p>
                <label for="streetnumb">Streetnumber</label><br>
                <input type="number" id="streetnumb" name="snumb" required="required" placeholder="Street number">
            </p>
            <p>
                <label for="payment">Payment</label><br>
                <select id="payment" name="rcp">
                    <option>Credit/debit Card</option>
                    <option>Svish</option>
                    <option>Cash at door</option>
                </select>
            </p>
            <p>
                <label for="stad">Ursprung</label><br>
                <select id="stad" name="rcp">
                    <option>Västra Götaland</option>
                    <option>Annat pissigt Landskap</option>
                </select>
            </p>
            <p>
                <label> Gender<br>
                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other
                </label>
            </p>
        </form>
    </section>

   <div class="Orderlist" id="orders">
    <h1> Din order</h1>
    <button
            type="submit" id="orderButton" v-on:click="markDone (key)"><img src="img/bilderburg/gbgicon.png" style="width: 5em" alt="icon"> Place my order
    </button>
   </div>

</main>
</body>
<hr>
<footer>GBG-Burgare</footer>
</html>
