<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="js/script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script>
    <title>www.MandusPattys.se</title>
    <meta charset="utf-8"/>
    <div class="HeaderpicContainer">
        <img src="img/andralongHeader.jpg" alt="Header Andra long" title="Andralong" style="width:100%">
        <div class="Headertext"> Hello and welcome to Gôrgoa burgare </div>
    </div>
</head>
<body>
<main>
    <section>
        <h2>Här finns det burgare </h2>
    </section>
    <div class="BurgarePicWrapper">
        <div class="Burgare fatty">
            <img src="img/bilderburg/mcfatty.jpeg" alt="The McFatty" title="The McFatty">
        </div>
        <div class="Burgare bamba">
            <img src="img/bilderburg/godishamburgare.jpg" alt="The goldenBoy" title="The GoldenBoy" >
        </div>
        <div class="Burgare halloumi">
            <img src="img/bilderburg/Halloumiburg.jpeg" alt="The CheesyGuac" title="The CheesyGuac">
        </div>
        <div class="Namnburg fattynamn">Möla allt du kan -burgaren </div>
        <div class="Namnburg Bamb">Bamba-burgarn </div>
        <div class="Namnburg abrovin">Abdrovinschen</div>
        <div class="ingredienser fattyIng" >
            <li> Beef</li>
            <li> Brioche bread</li>
            <li>Gôr gött Bacon</li>
            <li>Contains gluten, lactose</li>
        </div>
        <div class="ingredienser bambaIng ">
            <li> Green slime</li>
            <li> Beige slime</li>
            <li> Red slime</li>
            <li> Yellow slime</li>
        </div>
        <div class="ingredienser halloumiIngr">
            <li> Halloumi</li>
            <li> Brioche bread</li>
            <li>Guaccamole</li>
            <li>Contains gluten, lactose</li>
        </div>

    </div>

    <section class=informationsDel1>
        <h2>Delivery information</h2>
    </section>
    <section id="contact">
        <form>
            <p>
                <label for="firstname">Name</label><br>
                <input type="text" id="firstname" name="fn" required="required" placeholder="First and Last name ">
            </p>
            <p>
                <label for="email">Email</label><br>
                <input type="text" id="email" name="em" required="required" placeholder="E-mail address">
            </p>
            <p>
                <label for="street">Street</label><br>
                <input type="text" id="street" name="sn" required="required" placeholder="Streetname">
            </p>
            <p>
                <label for="streetnumb">Streetnumber</label><br>
                <input type="number" id="streetnumb" name="snumb" required="required" placeholder="Street number">
            </p>
            <p>
                <label for="payment">Payment</label><br>
                <select id="payment" name="rcp">
                    <option>Credit/debit Card</option>
                    <option>Svish</option>
                    <option>Cash at door</option>
                </select>
            </p>
            <p>
                <label for="stad">Ursprung</label><br>
                <select id="stad" name="rcp">
                    <option>Västra Götaland</option>
                    <option>Annat pissigt Landskap</option>
                </select>
            </p>
            <p>
                <label> Gender<br>
                <input type="radio" name="gender" value="male"> Male<br>
                <input type="radio" name="gender" value="female"> Female<br>
                <input type="radio" name="gender" value="other"> Other
                </label>
            </p>
        </form>
    </section>
    <button
            type="submit"><img src="img/bilderburg/gbgicon.png" style="width: 5em" alt="icon"> Place my order
    </button>
</main>
</body>
<hr>
<footer>GBG-Burgare</footer>
</html>
